body {
    width: 300px;
    padding: 10px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.toggle-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.toggle-label {
    margin-right: 10px;
    color: #333;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 15px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="checkbox"]:checked+.toggle-slider {
    background-color: #4CAF50;
}

input[type="checkbox"]:checked+.toggle-slider:before {
    transform: translateX(20px);
}